<!-- 
<h1>This is user profile</h1>


<h4>
  Name - {{ name.toUpperCase() }} Status - {{ status }} Salary - {{ salary }}
</h4>


<button [disabled]="isBtnDisabled">Click Me!</button>


<h1>Input Value - {{ inputVal }}</h1>


<input type="text" [(ngModel)]="inputVal" />

<div>
  @for (user of users; track user.name) { @if (user.salary > 10000) {
  <h4>
    Name - {{ user.name }} Status -
    {{ user.isSingle ? "single" : "committed" }} Salary - {{ user.salary }}
  </h4>
  }@else {
  <h4>
    Name - {{ user.name }} Status -
    {{ user.isSingle ? "single" : "committed" }} Salary - hidden
  </h4>
  } }
</div>
<hr />
<div *ngFor="let user of users">
  <h4 *ngIf="user.salary > 10000; else elseBlock">
    Name - {{ user.name }} Status -
    {{ user.isSingle ? "single" : "committed" }} Salary - {{ user.salary }}
  </h4>
  <ng-template #elseBlock>
    <h4>
      Name - {{ user.name }} Status -
      {{ user.isSingle ? "single" : "committed" }} Salary - hidden
    </h4>
  </ng-template>
</div> -->
<h1>Name - {{ name }} Status - {{ isSingle ? "single" : "committed" }} Salary - {{salary}}</h1>
<button (click)="sendData()">Send data</button>
